body {
  margin: 0;
  --foreground: white;
  --background: rgb(0, 169, 157);
}
code {
  background-color: #ddd;
  border-radius: 6px;
  padding: 0 4px;
  color: rgb(207, 30, 30);
}
#app {
  height: 100vh;
  width: 100vw;
}
#header {
  padding: 0 10px;
  font-size: 24px;
  line-height: 48px;
  font-weight: bold;
  background-color: var(--background);
  font-style: italic;
  color: var(--foreground);
  user-select: none;
}
#body {
  box-sizing: border-box;
  padding: 10px;
  height: calc(100% - 48px);
  height: calc();
  display: flex;
  justify-content: center;
  align-items: center;
}
#content {
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
  font-size: 18px;
}
#file-select {
  margin: 20px 0;
}
#input {
  flex: 1;
  border: 1px dashed #999999;
  font-size: 16px;
}
#input:focus {
  outline: 1px solid #999999;
}
#convert {
  flex: 0;
  margin: 0 12px;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  transition: all .3s ease;
  user-select: none;
}
#download {
  color: var(--background);
  transition: color .3s ease;
}
#cursor {
  transition: transform .3s ease;
  transform: rotate(0);
}
#convert:hover {
  background-color: var(--background);
}
#convert:hover #cursor {
  transform: rotate(90deg);
}
#convert:hover #download {
  color: var(--foreground);
}

#result {
  flex: 1;
  position: relative;
  height: 100%;
  border: 1px dashed #999999;
}
.loading {
  pointer-events: none;
  background: linear-gradient(
    45deg, 
    #ccc 0, #ccc 25%, transparent 25%, transparent 50%, 
    #ccc 50%, #ccc 75%, transparent 75%, transparent
  );
  background-size: 10px 10px;
}
#result.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: 'Loading render engine...';
  font-size: 36px;
  color: black;
}